.content {
  padding-top   : 70px;
  padding-bottom: 80px;
  min-height    : 100vh;
  .md(padding-top, 60px);

  &__caption {
    margin-left     : 50px;
    // margin-bottom: 34px;
    max-width       : 1070px;

    &::before {
      top       : 0;
      // content: 'К';
    }
  }

  &__above {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }

  &__views {
    margin-right: 10px;
    padding-left: 30px;
    background: url(assets/images/svg/views.svg) no-repeat left center;
  }


  &__entry {
    // & > table {
    //   width: 100%;

    //   tr {
    //     .row-flex();
    //   }

    //   td {
    //     .col();
    //     .size(6);
    //     .size-md(12);
    //   }
    // }

    a {
      color: @red;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    h2,
    p,
    li,
    div {
      font-size     : 16px;
      line-height   : 19px;
      letter-spacing: 0.05em;
      // text-align    : justify;
      text-align: left;
    }

    li {
      text-align: left;
      margin-bottom: 8px;
    }

    h2 {
      margin     : 30px 0;
      font-weight: 800;
    }

    p,
    div {
      margin: 20px 0;
    }

    iframe {
      max-width: 100%;
    }

    ul,
    li {
      list-style: disc inside;
    }

    div {

      // display: flex;
      // justify-content: space-between;
      // img {
      //   display: inline-block;
      //   width  : 46%;
      // }

      img+img {
        margin-left: 10px;
      }

    }

    .final {
      padding         : 18px 38px;
      background-color: @accent;
    }

    .final2 {
      margin: 18px 0;
      padding         : 18px 38px;
      background-color: @accent;
    }

    h2.final {
      margin-bottom: 0;
    }

    p.final {
      margin-top: 0;
    }

    p.final+p.final {
      margin-top: -20px;
    }
  }

  &__share {
    padding-top: 10px;
    text-align: right;

    &-title {
      margin-bottom: 5px;
    }
  }
}

//для уже сделанных
.content {
  &__entry {

    max-width: 740px;
    margin: 0 auto;

    h1,
    h1 strong,
    h2 strong {
      margin        : 30px 0;
      font-weight   : 800;
      font-size     : 16px;
      line-height   : 19px;
      letter-spacing: .05em;
    }
  }

  ul {
    margin: 1em 0;
  }
}

//вновь открывшиеся
.content {
  &__entry {

    .wp-block-embed-youtube {
      margin-left : 0;
      margin-right: 0;
    }

    .lyte-wrapper {
      width : 100%;
      margin: 0 !important;
    }
  }
}

//теги на странице новости
.single {
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 15px;
      margin-bottom: 16px;
    }
  }
}

// выключим две колонки в статьях
// .single {
	.wp-block-columns {
		display: block!important;
	}
	.wp-block-column {
		margin-left: 0!important;
	}
// }

// прогресс чтения
.single {
	.progressbar {
    height: 5px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 100;
	}

	.progressbar>.progressbar-line {
			height: 5px;
			width: 0;
			background: #dc3232;
	}
}

.dark {
	.content {
		&__entry {
			.final,
      .final2 {
				color: @black;
			}
		}
	}
}